In [76]:
import warnings
warnings.filterwarnings

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot
import plotly.express as px

In [120]:
df = pd.read_csv(r'C:\Users\DELL\OneDrive\Desktop\ZTH COHORT 4.0\Data Science\Peepalytics\data\transactions.csv')
df_acc_date = pd.read_csv(r'C:\Users\DELL\OneDrive\Desktop\ZTH COHORT 4.0\Data Science\Peepalytics\data\account_number_statement_period.csv')

In [121]:
df.head()

       date              description  money_out  money_in  borrowings
0  1/4/2023          Opening balance        NaN       NaN    96256.87
1  2/4/2023               Cheque #15      23.45       NaN    96280.32
2  2/4/2023      ATM cash withdrawal      40.00       NaN    96320.32
3  3/4/2023  Interac e-Transfer Send     283.42       NaN    96603.74
4  4/4/2023               Cheque #16     129.45       NaN    96733.19

In [122]:
#filling all nan with 0
df.fillna(0, inplace=True)

In [123]:
#using iloc to fill miss-placed values
#filling all nan with 0
df.iloc[9,3] =  df.iloc[9,2]
df.iloc[9,2] = 0
df.iloc[11,3] =  df.iloc[11,2]
df.iloc[11,2] = 0
df.iloc[-8,3] =  df.iloc[-8,2]
df.iloc[-8,2] = 0

In [124]:
# Step 1: Replace slashes with dashes
df['date'] = df['date'].astype(str).str.replace('/', '-', regex=False)
# Step 2: Parse to datetime
df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')

,date,description,money_out,money_in,borrowings
0,1-4-2023,Opening balance,0.00,0.00,96256.87
1,2-4-2023,Cheque #15,23.45,0.00,96280.32
2,2-4-2023,ATM cash withdrawal,40.00,0.00,96320.32
3,3-4-2023,Interac e-Transfer Send,283.42,0.00,96603.74
4,4-4-2023,Cheque #16,129.45,0.00,96733.19
5,4-4-2023,Bill pay - Toronto Hydro,218.00,0.00,96951.19
6,8-4-2023,Cheque #17,87.25,0.00,97038.44
7,8-4-2023,Bill pay - Visa@,1321.87,0.00,98360.31
8,9-4-2023,ATM cash withdrawal,60.00,0.00,98420.31
9,10-4-2023,Deposit - dividend cheque,0.00,89.78,98330.53
10,11-4-2023,POS - Flora's antiques,48.22,0.00,98378.75
11,15-04-2023,Direct deposit,0.00,2500.00,95878.75
12,15-04-2023,ATM cash withdrawal,60.00,0.00,95938.75
13,15-04-2023,Interac e-Transfer Send,23.47,0.00,95962.22
14,19-04-2023,POS - Sam's garage,108.14,0.00,96070.36
15,19-04-2023,Pre-authorized withdrawal - Manulife Insurance,39.91,0.00,96110.27
16,22-04-2023,ATM cash withdrawal,80.00,0.00,96190.27
17,23-04-2023,Bill pay - Rogers Cable,125.00,0.00,96315.27
18,24-04-2023,POS - Tom's Dinery and Winery,87.00,0.00,96402.27
19,25-04-2023,Cheque #18,45.85,0.00,96448.12
20,25-04-2023,ATM cash withdrawal,100.00,0.00,96548.12
21,29-04-2023,Direct deposit,0.00,2500.00,94048.12
22,30-04-2023,Admin fee,16.95,0.00,94065.07
23,30-04-2023,Main account interest,464.54,0.00,94488.61
24,30-04-2023,Fixed rate sub-account principal.,359.50,0.00,94849.42
25,30-04-2023,Fixed rate sub-account interest.,91.63,0.00,94933.60
26,30-04-2023,Variable rate sub-account #1 interest,102.74,0.00,95036.34
27,30-04-2023,Variable rate sub-account #2 interest,51.37,0.00,95087.71
28,30-04-2023,Closing balance,3967.76,5089.78,95087.71

In [125]:
# Step 2: Parse to datetime
df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         29 non-null     datetime64[ns]
 1   description  29 non-null     object
 2   money_out    29 non-null     float64
 3   money_in     29 non-null     float64
 4   borrowings   29 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 1.3+ KB

In [127]:
df

,date,description,money_out,money_in,borrowings
0,2023-04-01,Opening balance,0.00,0.00,96256.87
1,2023-04-02,Cheque #15,23.45,0.00,96280.32
2,2023-04-02,ATM cash withdrawal,40.00,0.00,96320.32
3,2023-04-03,Interac e-Transfer Send,283.42,0.00,96603.74
4,2023-04-04,Cheque #16,129.45,0.00,96733.19
5,2023-04-04,Bill pay - Toronto Hydro,218.00,0.00,96951.19
6,2023-04-08,Cheque #17,87.25,0.00,97038.44
7,2023-04-08,Bill pay - Visa@,1321.87,0.00,98360.31
8,2023-04-09,ATM cash withdrawal,60.00,0.00,98420.31
9,2023-04-10,Deposit - dividend cheque,0.00,89.78,98330.53
10,2023-04-11,POS - Flora's antiques,48.22,0.00,98378.75
11,2023-04-15,Direct deposit,0.00,2500.00,95878.75
12,2023-04-15,ATM cash withdrawal,60.00,0.00,95938.75
13,2023-04-15,Interac e-Transfer Send,23.47,0.00,95962.22
14,2023-04-19,POS - Sam's garage,108.14,0.00,96070.36
15,2023-04-19,Pre-authorized withdrawal - Manulife Insurance,39.91,0.00,96110.27
16,2023-04-22,ATM cash withdrawal,80.00,0.00,96190.27
17,2023-04-23,Bill pay - Rogers Cable,125.00,0.00,96315.27
18,2023-04-24,POS - Tom's Dinery and Winery,87.00,0.00,96402.27
19,2023-04-25,Cheque #18,45.85,0.00,96448.12
20,2023-04-25,ATM cash withdrawal,100.00,0.00,96548.12
21,2023-04-29,Direct deposit,0.00,2500.00,94048.12
22,2023-04-30,Admin fee,16.95,0.00,94065.07
23,2023-04-30,Main account interest,464.54,0.00,94488.61
24,2023-04-30,Fixed rate sub-account principal.,359.50,0.00,94849.42
25,2023-04-30,Fixed rate sub-account interest.,91.63,0.00,94933.60
26,2023-04-30,Variable rate sub-account #1 interest,102.74,0.00,95036.34
27,2023-04-30,Variable rate sub-account #2 interest,51.37,0.00,95087.71
28,2023-04-30,Closing balance,3967.76,5089.78,95087.71

In [100]:
df

,date,description,money_out,money_in,borrowings
0,1/4/2023,Opening balance,0.00,0.00,96256.87
1,2/4/2023,Cheque #15,23.45,0.00,96280.32
2,2/4/2023,ATM cash withdrawal,40.00,0.00,96320.32
3,3/4/2023,Interac e-Transfer Send,283.42,0.00,96603.74
4,4/4/2023,Cheque #16,129.45,0.00,96733.19
5,4/4/2023,Bill pay - Toronto Hydro,218.00,0.00,96951.19
6,8/4/2023,Cheque #17,87.25,0.00,97038.44
7,8/4/2023,Bill pay - Visa@,1321.87,0.00,98360.31
8,9/4/2023,ATM cash withdrawal,60.00,0.00,98420.31
9,10/4/2023,Deposit - dividend cheque,0.00,89.78,98330.53
10,11/4/2023,POS - Flora's antiques,48.22,0.00,98378.75
11,15-04-2023,Direct deposit,0.00,2500.00,95878.75
12,15-04-2023,ATM cash withdrawal,60.00,0.00,95938.75
13,15-04-2023,Interac e-Transfer Send,23.47,0.00,95962.22
14,19-04-2023,POS - Sam's garage,108.14,0.00,96070.36
15,19-04-2023,Pre-authorized withdrawal - Manulife Insurance,39.91,0.00,96110.27
16,22-04-2023,ATM cash withdrawal,80.00,0.00,96190.27
17,23-04-2023,Bill pay - Rogers Cable,125.00,0.00,96315.27
18,24-04-2023,POS - Tom's Dinery and Winery,87.00,0.00,96402.27
19,25-04-2023,Cheque #18,45.85,0.00,96448.12
20,25-04-2023,ATM cash withdrawal,100.00,0.00,96548.12
21,29-04-2023,Direct deposit,0.00,2500.00,94048.12
22,30-04-2023,Admin fee,16.95,0.00,94065.07
23,30-04-2023,Main account interest,464.54,0.00,94488.61
24,30-04-2023,Fixed rate sub-account principal.,359.50,0.00,94849.42
25,30-04-2023,Fixed rate sub-account interest.,91.63,0.00,94933.60
26,30-04-2023,Variable rate sub-account #1 interest,102.74,0.00,95036.34
27,30-04-2023,Variable rate sub-account #2 interest,51.37,0.00,95087.71
28,30-04-2023,Closing balance,3967.76,5089.78,95087.71

In [101]:
# --- Clean unwanted rows ---
non_transaction_keywords = ['opening balance', 'closing balance', 'statement balance']
df = df[~df['description'].str.lower().isin([kw.lower() for kw in non_transaction_keywords])]

In [128]:
# --- Clean unwanted rows ---
non_transaction_keywords = ['opening balance', 'closing balance', 'statement balance']
df = df[~df['description'].str.lower().isin(non_transaction_keywords)]

In [129]:
df

,date,description,money_out,money_in,borrowings
1,2023-04-02,Cheque #15,23.45,0.00,96280.32
2,2023-04-02,ATM cash withdrawal,40.00,0.00,96320.32
3,2023-04-03,Interac e-Transfer Send,283.42,0.00,96603.74
4,2023-04-04,Cheque #16,129.45,0.00,96733.19
5,2023-04-04,Bill pay - Toronto Hydro,218.00,0.00,96951.19
6,2023-04-08,Cheque #17,87.25,0.00,97038.44
7,2023-04-08,Bill pay - Visa@,1321.87,0.00,98360.31
8,2023-04-09,ATM cash withdrawal,60.00,0.00,98420.31
9,2023-04-10,Deposit - dividend cheque,0.00,89.78,98330.53
10,2023-04-11,POS - Flora's antiques,48.22,0.00,98378.75
11,2023-04-15,Direct deposit,0.00,2500.00,95878.75
12,2023-04-15,ATM cash withdrawal,60.00,0.00,95938.75
13,2023-04-15,Interac e-Transfer Send,23.47,0.00,95962.22
14,2023-04-19,POS - Sam's garage,108.14,0.00,96070.36
15,2023-04-19,Pre-authorized withdrawal - Manulife Insurance,39.91,0.00,96110.27
16,2023-04-22,ATM cash withdrawal,80.00,0.00,96190.27
17,2023-04-23,Bill pay - Rogers Cable,125.00,0.00,96315.27
18,2023-04-24,POS - Tom's Dinery and Winery,87.00,0.00,96402.27
19,2023-04-25,Cheque #18,45.85,0.00,96448.12
20,2023-04-25,ATM cash withdrawal,100.00,0.00,96548.12
21,2023-04-29,Direct deposit,0.00,2500.00,94048.12
22,2023-04-30,Admin fee,16.95,0.00,94065.07
23,2023-04-30,Main account interest,464.54,0.00,94488.61
24,2023-04-30,Fixed rate sub-account principal.,359.50,0.00,94849.42
25,2023-04-30,Fixed rate sub-account interest.,91.63,0.00,94933.60
26,2023-04-30,Variable rate sub-account #1 interest,102.74,0.00,95036.34
27,2023-04-30,Variable rate sub-account #2 interest,51.37,0.00,95087.71

In [103]:
min(df['date'])

'10/4/2023'

In [24]:
df_acc_date

  masked_account_number start_date    end_date
0               ****567   1-4-2023  30-04-2023

In [25]:
df_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         29 non-null     object
 1   description  29 non-null     object
 2   money_out    29 non-null     float64
 3   money_in     29 non-null     float64
 4   borrowings   29 non-null     float64
dtypes: float64(3), object(2)
memory usage: 1.3+ KB

In [26]:
#converting date to datetime
df_transaction.to_csv('transaction__.csv', index=False)

# Peepalytics
ML_DS_TakeHome Assignment


# Peepalytics: Transaction Data Extraction and Analysis

## Overview

Peepalytics is a data extraction and analysis tool that processes financial transaction data from scanned PDF statements. The project leverages Optical Character Recognition (OCR) to extract transaction information, cleanses and processes the data, and then presents it in a web-based dashboard for analysis and insights.

### Core Components:
- **OCR Extraction**: Uses PaddleOCR to extract text and tables from scanned PDF files.
- **Data Parsing**: Data is parsed, cleaned, and stored for further analysis.
- **Data Redaction**: Sensitive information in the extracted data is redacted to ensure privacy.
- **Web Dashboard**: A user-friendly interface built with Streamlit to interact with and visualize the transaction data.


## Workflow

### 1. **Data Extraction**:
The core extraction process begins with the use of PaddleOCR, an OCR engine that processes the scanned PDF files and extracts structured data. This data extraction pipeline is housed in the `extractor` folder and can be executed via the command line interface (CLI).

To run the extraction, use the following command:
```bash``

python -m extractor --pdf sample_dataset.pdf --output .\data


### What Happens During Extraction:
The ocr.py script extracts text from the provided PDF using PaddleOCR.

The parse.py script processes the raw extracted text to identify and structure the data into fields (like money_in, money_out, date, description, etc.).

The redact.py script redacts any sensitive data, such as account numbers or personal information, ensuring privacy.

### 2. Data Adjustment:
Because of accuracy issues with the OCR extraction, particularly regarding the placement of money-related values, I manually corrected some misplaced data in the extracted table.

Manual Adjustments: Specifically, some values for money-in were incorrectly placed in the money-out column. To address this, I used the Pandas .iloc function in the dashboard.py script to manually move the values from the money-out column to money-in for the affected rows. This ensures that the transaction data reflects the correct amounts and categories.



### 3. Web Dashboard:
Once the data has been cleaned and processed, the next step is to visualize and analyze it. The dashboard.py file creates a Streamlit-based web dashboard where the transaction data can be filtered, visualized, and explored.

Key Features of the Dashboard:
Filters: Users can filter transactions by date, description, and amount range.

KPIs: Key performance indicators (KPIs) such as total inflow, total outflow, and transaction count are displayed at the top of the dashboard.

Charts: Visualizations like daily spend and running balance are plotted to help users understand their transaction trends.

Interactive Table: The transaction data is presented in an interactive table, couldnt achieve the functionality of users clicking any row to view a redacted image of the statement with the transaction details highlighted.


## Folder Structure

        Peepalytics/
        ├── dashboard_helpers/
        │   ├── dashboard.py               # Streamlit Dashboard for displaying transaction data and visualizations
        │   └── page_2_redacted/           # Folder containing the redacted images for each page of the PDF
        ├── data/
        │   ├── ocr/
        │   │   └── page_2_paddleocr_.json # OCR extracted data for page 2
        │   ├── processed/
        │   │   └── page_1.jpg             # Processed image of page 1
        │   │   └── page_2.jpg             # Processed image of page 2
        │   ├── redacted/
        │   │   └── page_2_redacted.jpg    # Redacted image of page 2
        │   ├── account_number_statement_period/
        │   └── transactions.csv           # Final CSV with transaction data
        ├── extractor/
        │   ├── __main__.py                    # Main extraction script to process the PDF
        │   ├── ocr.py                     # OCR extraction logic
        │   ├── parse.py                   # Data parsing logic
        │   └── redact.py                  # Logic to redact sensitive data
        ├── metrics/
        │   └── evaluate.py                # Evaluation metrics script for assessing extraction accuracy
        ├── scripts/
        │   ├── peepalytics_tasks.txt      # Task list for the project
        │   └── README.md                  # Project documentation
        └── venv/
        |    └── # Virtual environment for package management
        |── sample_dataset.pdf
        |── requirements.txt


## Installation & Setup
        Clone the repository:
        Clone this repository to your local machine:
        
        bash
        git clone https://github.com/yourusername/peepalytics.git
        cd peepalytics
        Set up the virtual environment:
        It's recommended to use a virtual environment to manage dependencies:
        
        bash
        python -m venv venv
        source venv/bin/activate  # On Windows, use: venv\Scripts\activate
        Install required dependencies:
        Install all necessary Python packages using pip:
        
        bash
        pip install -r requirements.txt
        Run the extraction pipeline:
        After setting up the environment, use the following command to extract data from a PDF file:
        
        bash
        python -m extractor --pdf sample_dataset.pdf --output .\data
        Run the web dashboard:
        To start the Streamlit dashboard:
        
        bash
        streamlit run dashboard_helpers/dashboard.py
        This will start the Streamlit web app in your browser.

## Conclusion
Peepalytics offers a comprehensive workflow for extracting, processing, redacting, and analyzing transaction data from scanned PDF statements. By leveraging OCR technology and manual adjustments, the tool ensures accurate and insightful transaction analysis. The web dashboard provides an intuitive interface for users to interact with their financial data.


Thanks

Developer name: Promise ibediogwu Ekele

Phone number: +2347063083925

email_address: promiseibediogwu1@gmail.com

github repo: